.App {
  text-align: center;
}

.App-logo-wrapper {
  position: relative;
  width: 500px;
  height: 500px;
  border: 1px solid white;
  background-image: url('./court.svg');
  background-size: cover;
}

#court {
  background-color: black;
}
